<footer class="py-5 bg-dark">
    <div class="zerogrid">
    <div class="row text-white">
        <div class="sm-2-4 col-footer-1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.699450470466!2d-46.508638984540234!3d-23.686703784620864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce69f078b040cb%3A0x5b15e365bef708ab!2sR.+S%C3%A3o+Judas+Tadeu%2C+195+-+Vila+Tibiri%C3%A7%C3%A1%2C+Santo+Andr%C3%A9+-+SP%2C+09110-305!5e0!3m2!1spt-BR!2sbr!4v1557708468568!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="-5" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="sm-1-4 col-footer-2">
          <div class="wrap-col">
            <h3 class="widget-title">Contatos</h3>
            <p>Telefone</p>
            <strong style="font-size: 25px;">(011) 4451-2060</strong>
            <p>Endereço:</p>
            <strong>Rua São Judas Tadeu-195 Vila Tibiriça, Santo André – SP
              <br>CEP: 09130-040</strong>
            <p>Horário de Atendimento</p>
            <strong>Segunda a Sexta: 07:00 - 22:00</strong><br>
            <strong>Sábado: Acupuntura</strong><br>
            <strong>Domingo: Fechado</strong>
          </div>
        </div>
        <div class="sm-1-4 col-footer-3">
          <div class="wrap-col">
            <h3 class="widget-title">Socials</h3>
            <ul class="social-buttons">
              <li><a href="https://www.youtube.com/channel/UCdWZZWtCLOKH6boB-pTS0cg"><i class="fa fa-youtube" style="color: whitesmoke;"></i></a></li>
              <li><a href="https://www.facebook.com/projetoshalom/"><i class="fa fa-facebook-official" style="color:whitesmoke;"></i></a></li>
              <li><a href="https://www.instagram.com/projetoshalom"><i class="fa fa-instagram" style="color:whitesmoke;"></i></a></li>
              <li><a href="http://projetoshalombrasil.blogspot.com/"><i class="fa fa-rss-square" style="color:whitesmoke;"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <br>
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Thim3</p>
  </div>
    </div>
  <!-- /.container -->
</footer>