<section class="content-header" style="margin: 5% auto">
    <p>A <strong class="corStrong">Ação Cristã Comunitária do Brasil</strong>, mais conhecida como <strong class="corStrong">Projeto Shalom</strong> é uma
        associação sem fins lucrativos, fundada em 1 de Maio de 1994, com o objetivo de atuar em prol da educação infantil e 
        alfabetização de adultos, saúde comunitária, cultura e lazer, bem como cursos profissionalizantes que buscam resgatar a 
        identidade do cidadão e valorizá-lo como ser humano. Saiba mais sobre a história do Projeto Shalom em <a href="/Historia">Nossa História</a></p>

        <iframe width="100%" height="600" src="https://www.youtube.com/embed/d0NGuzCn6eg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>

<section class="content d-flex justify-content-center"></section>