<section class="content-header" style="margin: 5% auto">
    <p>A <strong class="corStrong">Ação Cristã Comunitária do Brasil</strong>, mais conhecida como <strong class="corStrong">Projeto Shalom</strong> é uma
        associação sem fins lucrativos, fundada em 1 de Maio de 1994, com o objetivo de atuar em prol da educação infantil e 
        alfabetização de adultos, saúde comunitária, cultura e lazer, bem como cursos profissionalizantes que buscam resgatar a 
        identidade do cidadão e valorizá-lo como ser humano. Saiba mais sobre a história do <strong class="corStrong">Projeto Shalom</strong> em <a href="/Historia">Nossa História</a></p>

        <iframe width="100%" height="600" src="https://www.youtube.com/embed/d0NGuzCn6eg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br><br><br><br>
        <h1 class="text-center"><strong class="corStrong">Há mais de 20 anos</strong></h1>
        <br>
        <table class="table table-bordered">
            <thead></thead>
            <tbody>
                <tr>
                    <td>
                        <p class="corStrong text-center">Educação Infantil</p>
                        <p class="text-center">Instruir as crianças e adolescentes beneficiaos, auxiliar
                            nas atividades escolares, promover atividades de estimulo á
                            leitura, facilitar o acesso às atividades culturais e promover
                            ações de incentivo à cidadania.
                        </p>
                    </td>
                    <td>
                        <p class="corStrong text-center">Qualificação jovem e adulta</p>
                        <p class="text-center">Instruir os jovens e adultos beneficiados, promover cursos 
                            de qualificação, facilitar o acesso às atividades culturais
                            e promover ações de incentivo à cidadania.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="corStrong text-center">Saúde Comunitária</p>
                        <p class="text-center">Promover ações preventivas e educativas de valorização da 
                            saúde, do bem estar físico e psicológico, higiene e asseio
                            pessoal e preservação do meio ambiente, incluindo distribuição 
                            de alimentos.
                        </p>
                    </td>
                    <td>
                        <p class="corStrong text-center">Cultura e Lazer</p>
                        <p class="text-center">Desenvolver atividades artísticas e recreativas, apresentar 
                            em grupos de teatro e dança, ministrar oficinas de música, 
                            dança, ginástica, expressões corporais, artesanatos, e ainda,
                            promover comemorações em datas cívicas.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <br><br>
        <h3 class="text-center"><strong class="corStrong">Certificados</strong></h3>
        <br>

        <table>
            <thead></thead>
            <tbody>
                <tr>
                    <td>
                        <img src="'../../../assets/images/selo-211x300.png">
                    </td>
                    <td>
                        <p><strong>CMAS - Inscrição N131/15</strong></p>
                        <p><strong>CMDCA - Inscrição N152-R/14</strong></p>
                        <p><strong><a>CRCE - N0471/2014</a></strong></p>
                        <p><strong>CLCB - N224766</strong></p>
                        <p><strong><a>Declarada de Utilizade Pública Municipal Conforme decreto 8.316
                            de 21 de março de 2002</a></strong>
                        </p>
                        <p><strong>CEBAS: Portaria n.144 de 16/08/2017,
                            publicada na pag.226, seção 1, do D.O.U</strong>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
</section>

<section class="content d-flex justify-content-center"></section>